#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#quiz-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data-types {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
}

#answers button {
    margin: 5px;
}


.hide {
    display: none !important;
}


